


/* Todo Styles */
.todoContent {
  /* height: 500px */
}

.todo {
  /* height: 500px; */
}

.todoBox {
  margin: 10px;
  position: relative;
  cursor: pointer;
  user-select: none;
  list-style: none;
}

.todoBox:hover .settings {
  /* display: flex; */
  opacity: 1;
}

.task { 
  min-height: 50px;
}

.settings {
  opacity: 0;
  transition: opacity 0.2s ease;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 80%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.settingButton {
  display: flex;
  padding: 0 20px 0 0;
  gap: 10px;
}